.cursor-pointer
{
    cursor: pointer;
}

.cursor-default
{
    cursor: default;
}

.d-block
{
    display: block;
}

.d-flex
{
    display: flex;
}

.d-grid
{
    display: grid;
}