:root
{
    --c-neutral-50: #FFFFFF;
    --c-neutral-100: #FAFAFA;
    --c-neutral-200: #EEEEEE;
    --c-neutral-300: #D2D2D2;
    --c-neutral-400: #CED4DA;
    --c-neutral-500: #5E5E5E;
    --c-neutral-600: #6C757D;
    --c-neutral-700: #495057;
    --c-neutral-800: #363636;
    --c-neutral-900: #000000;
    --c-primary-300: #EAF9FF;
    --c-primary-400: #75D8FF;
    --c-primary-500: #0897E9;
    --c-primary-600: #0457A7;
    --c-primary-700: #012C6F;
    --c-danger-300: #FDE1D6;
    --c-danger-400: #F48E85;
    --c-danger-500: #DC3545;
    --c-alert-300: #FFE6B7;
    --c-alert-400: #FECD6E;
    --c-alert-500: #FEAC0E;
    --c-info-300: #E6F5FD;
    --c-info-400: #6BC1F2;
    --c-info-500: #0897E9;
    --c-success-300: #E7FBDA;
    --c-success-400: #A3E78C;
    --c-success-500: #47B13D;

    body.tc-prime-modern
    {
        --c-primary-300: #D3C8FF;
        --c-primary-400: #896DFF;
        --c-primary-500: #6B48FF;
        --c-primary-600: #3A24B7;
        --c-primary-700: #190D7A;
    }
}